 
 /* Fonts */

 .azeret-mono-font {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }



 /* Shared Styles */

 .color-1 {
    color: #0D1321;
 }

 .description-property {
    color: #0D1321;
    opacity: .7;
    font-size: 16px;
    font-weight: 400;
 }

 .button-primary {
    font-size: 20px;
    font-weight: 600;
    padding: 17px 24px;
    margin-right: 150px;
    margin-top: 17px;
    border-radius: 8px;
    background-color: #FFFFFF;
    max-height: 55px;
    max-width: 240px;
 }

 .button-secondary {
    font-size: 20px;
    font-weight: 600;
    padding: 21px 24px;
    border-radius: 8px;
    background-color: #0D1321;
    color: #FFFFFF;
    max-height: 65px;
    max-width: 240px;
    margin-bottom: 35px;
 }


 /* Header Styles */

 .header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

 }

 .header-title {
    font-size: 28px;
    font-weight: 800;
    margin-left: 150px;
    margin-top: 50px;
 }

 /* Banner Styles */

 .banner {
    background-image: url(../assets/Hero-bg.png);
    background-repeat: none;
    max-width: 1440px;
    text-align: center;
 }

 .banner-margin {
    margin: 36px 221px;
}

 .first-image {
    margin: 36px auto 32px;
  
 }

 .banner-heading {
    font-size: 48px;
    font-weight: 800;
    
 }

 .banner-description {
    padding: 0px 73px 32px;
 }


 /* Why Web Development Section or Section-1 */

 .section-1 {
    background-color: rgba(13, 19, 33, 0.02);
    max-width: 1140px;
    margin: 74px auto 90px;
    padding: 80px 97px;
 }

 .section-1-heading {
    font-size: 32px;
    font-weight: bolder;
    margin: 80px auto 24px;
 }

 .section-1-description {
    margin: 0px auto 48px;
    padding: 0px 47px;
 }

 .section-info {
    display: flex;
    text-align: left;
    background-color: #FFFFFF;
    padding: 48px 48px;
    margin-bottom: 32px;
    border-radius: 16px;
 }

.section-1-info-heading {
    font-size: 24px;
    font-weight: bold;
    padding-right: 280px;

}

 .section-1-info-description {
    padding-right: 120px;

 }


.button-3 {
    font-size: 20px;
    font-weight: 600;
    padding: 12px 20px;
    width: 171px;
    height: 47px;
    margin-top: 32px ;
    opacity: .7;
    background-color: #FFFFFF;
}