 
 /* Fonts */

 .azeret-mono-font {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }



 /* Shared Styles */

 .color-1 {
    color: #0D1321;
 }

 .description-property {
    color: #0D1321;
    opacity: .7;
    font-size: 16px;
    font-weight: 400;
 }

 .button-primary {
    font-size: 20px;
    font-weight: 600;
    padding: 17px 24px;
    margin-right: 150px;
    margin-top: 17px;
    border-radius: 8px;
    background-color: #FFFFFF;
    max-height: 55px;
    max-width: 240px;
 }

 .button-secondary {
    font-size: 20px;
    font-weight: 600;
    padding: 21px 24px;
    border-radius: 8px;
    background-color: #0D1321;
    color: #FFFFFF;
    max-height: 65px;
    max-width: 240px;
    margin-bottom: 35px;
 }


 /* Header Styles */

 .header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

 }

 .header-title {
    font-size: 28px;
    font-weight: 800;
    margin-left: 150px;
    margin-top: 50px;
 }

 /* Banner Styles */

 .banner {
    background-image: url(../assets/Hero-bg.png);
    background-repeat: none;
    max-width: 1440px;
    text-align: center;
    margin: auto;
 }

 .banner-margin {
    margin: 36px 221px;
}

 .first-image {
    margin: 36px auto 32px;
  
 }

 .banner-heading {
    font-size: 48px;
    font-weight: 800;
    
 }

 .banner-description {
    padding: 0px 73px 32px;
 }


 /* Why Web Development Section or Section-1 */

 .section-1 {
    background-color: rgba(13, 19, 33, 0.02);
    max-width: 1140px;
    margin: 74px auto 90px;
    padding: 97px 97px;
 }

 .section-1-heading {
    font-size: 32px;
    font-weight: bolder;
    margin: 80px auto 24px;
 }

 .section-1-description {
    margin: 0px auto 48px;
    padding: 0px 47px;
 }

 .section-info {
    display: flex;
    text-align: left;
    background-color: #FFFFFF;
    padding: 48px 48px;
    margin-bottom: 32px;
    border-radius: 16px;
 }

.section-1-info-heading {
    font-size: 24px;
    font-weight: bold;
    padding-right: 280px;

}

 .section-1-info-description {
    padding-right: 120px;

 }


.button-3 {
    font-size: 20px;
    font-weight: 600;
    padding: 12px 20px;
    width: 171px;
    height: 47px;
    margin-top: 32px ;
    opacity: .7;
    background-color: #FFFFFF;
}

 /* Section 2 */

  .section-2 {
    text-align: center;
  }
  .section-2-heading {
    margin: 90px 144px 24px;
  }

  .video {
    padding: 32px 32px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    background-color: rgba(13, 19, 33, 0.01);
    margin-top: 48px;
    border-radius: 16px;

  }


 /* Section 3  */

  .section-3 {
    text-align: center;
  }

  .section-3-info {
    margin: 0px 97px 48px;
    padding: 0px 97px;

  }

  /* Section3 Subsections */

  .subsections {
    display: flex;
    text-align: left;
    justify-content: center;
    gap: 24px;
  }

  .subsection {
    padding: 40px 40px;
    width: 364px;
    max-height: 300px;
    border-radius: 16px;
  }

  .section-3-info {
   padding: 48px 144px;
  }

  .subsection-1 {
    background-color: rgba(255, 76, 30, 0.05);
    margin-left: 150px;
  }

  .subsection-2 {
    background-color: rgba(0, 76, 232, 0.05);
  }

  .subsection-3 {
    background-color: rgba(255, 223, 0, 0.05);
    margin-right: 150px;
  }

  .subsection-link {
   font-size: 16px;
   font-weight: bold;
   color: rgba(13, 19, 33, 1);
   text-decoration: none;
   text-decoration: underline;
   padding-top: 24px;
   margin-top: 24px;
   text-align: bottom left;
  }

  /* Section 4 Styles */

  .s4-subsections {
   display: flex;
   max-width: 1140px;
   height: 160px;
   border: 1px solid rgba(13, 19, 33, 0.15);
   border-radius: 16px;
   margin: 0px auto 24px;
   padding: 40px 40px;
   gap: 24px;
  }

   .s4-heading {
      text-align: center;
      margin: 111px auto 10px;
      padding: 48px 244px;
   }

 /* Section 5 Styles */

 .s5-holder {
   background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../assets/handshake.jpg);
   background-repeat: no-repeat;
   background-position: center;
   max-width: 1140px;
   height: 300px;
   margin: 49px auto 80px;
   border-radius: 16px;
   text-align: center;
   padding: 64px 48px ;
 }

 .s5-heading {
   font-size: 32px;
   font-weight: bold;
   color: #FFFFFF;
   padding: 0px 376px 16px;
 }

 .s5-description {
   color: #FFFFFF;
   padding: 0px 219px 24px; 
 }

 #input {
   max-width: 548px;
   height:14px;
   border-radius: 8px;
   padding: 19px 215px 19px 40px;
   font-size: 16px;
   margin-right: 16px;
 }

 .btn-3 {
   max-width: 120px;
   height: 56px;
   background-color: #FFFFFF;
   border-radius: 8px;
   font-size: 20px;
   font-weight: 600;
 }

  /* Footer Styles */

  nav div{
   display: flex;
   align-items: center;
   justify-content: space-between;
   text-align: center;
   background-color: rgba(13, 19, 33, 0.03);
   max-width: 1440px;
   height: 82px;
   padding: 14px 150px 14px 20px;
  }

  .nav-heading {
   font-size: 20px;
   font-weight: 600;
   padding: 29px 0px 26px 150px;
   text-align: left;
  }

  .contact-icons {
   display: flex;
   list-style: none;
   text-decoration: none;
   justify-content: flex-end;
   gap: 20px;
  }
